@use '../Var/Var';

$self: '.page';

@mixin page {
  flex: 1;
}

@mixin themeClassic{
  @include page;
}

@mixin themePrivacyPolicy{
  @include page;

  // todo
}

@mixin themeNotFound{
  @include page;

  // todo
}