@use '../Var/Var';

$self: '.cookie-bar';

@mixin cookieBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: Var.$zIndexMax - 1;
  // with CSS animation
  transition: all ease .5s;
  transform: translateY(110vh);

  &#{$self}--active {
    transform: translateY(0);
  }

  @include Var.media(Var.$screenLg) {
    flex-direction: row;
  }

  // hide the accept button on mobile, otherwise it takes too much screen space
  @include Var.media(Var.$screenLg, 'max') {
    #{$self}__accept {
      display: none;
    }
  }
}

@mixin themeClassic {
  @include cookieBar;

  #{$self}__close {
    @include Var.transition;

    position: absolute;
    top: 10px;
    right: 10px;
  }

  #{$self}__close:hover {
    cursor: pointer;
  }
}
