<cookie-bar class="cookie-bar {{ classes|join(' ') }}">
    <div class="cookie-bar__message">{{ message }}</div>

    {{ _include(acceptButton, 'cookie-bar__accept') }}

    {{ _image(closeIcon, "cookie-bar__close") }}
</cookie-bar>