@use '../Fonts/Fonts';
@use '../Var/Var';
@use "@lightsourcee/thunder-wp/sass/Reset";

html {
  font-size: 62.5%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // todo
  background: white;
  font-family: Var.$fontSignika;
  font-weight: Var.$fontWeightNormal;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: .5px;
  color: black;
}

 button {
  // todo
  font-family: Var.$fontSignika;

  &:hover {
    cursor: pointer;
  }
}

.container {
  @include Var.container;
}

.container--short {
  max-width: Var.$shortMaxWidth;
}

:root {
  --shortMaxWidth: #{Var.$shortMaxWidth};
}
