@use '../Var/Var';

////////////////////

@mixin themeClassic {

}

/* box:  socialLinks:array, bio:block, background:image, content(title, description).
Inner wraps everything */

$self: '.box';

@mixin box {

}

@mixin themeBox {
  @include box;

  #{$self}__inner {

  }

  #{$self}__title {

  }

  #{$self}__description {

  }

  #{$self}__social-links {

  }

  #{$self}__social-link {

  }

  #{$self}__bio {

  }

  #{$self}__background {

  }
}

/* header: logo:image, menuItems:array, contactButton:block, menuIcon:image, mobileMenuIcon:image. */

$self: '.logo';

@mixin header {

}

@mixin themeHeader {
  @include header;

  #{$self}__logo {

  }

  #{$self}__menu-items {

  }

  #{$self}__menu-item {

  }

  #{$self}__contact-button {

  }

  #{$self}__menu-icon {

  }

  #{$self}__mobile-menu-icon {

  }
}

/* featured-item: image:image, items:array, content(title, description).
Inner wraps everything, content wraps everything except image*/

$self: '.featured-item';

@mixin featuredItem {

}

@mixin themeFeaturedItem {
  @include featuredItem;

  #{$self}__inner {

  }

  #{$self}__content {

  }

  #{$self}__image {

  }

  #{$self}__title {

  }

  #{$self}__description {

  }

  #{$self}__items {

  }

  #{$self}__item {

  }
}

////////////////////

/* example:  */

$self: ' .example';

@mixin example {

}
