{# box:  socialLinks:array, bio:block, background:image, content(title, description).
Inner wraps everything  #}

<div class="box {{ classes|join(' ') }}">
    <div class="box__inner">
        <div class="box__title">{{ title }}</div>
        <div class="box__description">{{ description }}</div>

        {% if socialLinks %}
            <div class="box__social-links">
                {% for socialLink in socialLinks %}
                    {{ _include(socialLink, 'box__social-link') }}
                {% endfor %}
            </div>
        {% endif %}

        {{ _include(bio, 'box__bio') }}

        {{ _image(background,'box__background') }}
    </div>
</div>

{# header: logo:image, menuItems:array, contactButton:block, menuIcon:image, mobileMenuIcon:image. #}

<header class="header {{ classes|join(' ') }}">
    {{ _image(logo, 'header__logo') }}

    {% if menuItems %}
        <div class="header__menu">
            {% for menuItem in menuItems %}
                {{ _include(menuItem, 'header__menu-item') }}
            {% endfor %}
        </div>
    {% endif %}

    {{ _include(contactButton, 'header__contact-button') }}

    {{ _image(menuIcon, 'header__menu-icon-image') }}

    {{ _image(mobileMenuIcon, 'header__mobile-menu-icon-image') }}
</header>

{# featured-item: image:image, items:array, content(title, description).
Inner wraps everything, content wraps everything except image #}

<div class="featured-item {{ classes|join(' ') }}">
    <div class="featured-item__inner">
        {{ _image(image,'featured-item__image') }}

        <div class="featured-item__content">
            <div class="featured-item__title">{{ title }}</div>
            <div class="featured-item__description">{{ description }}</div>

            {% if items %}
                <div class="featured-item__items">
                    {% for item in items %}
                        {{ _include(item, 'featured-item__item') }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{# //////////////////// #}

{# example: #}

