@use "@lightsourcee/thunder-wp/sass/Var";

$screenMd: 768px;
$screenLg: 992px;
$screenXl: 1200px;
$screenXxl: 1400px;

$containerMaxWidth: 1200px;
$shortMaxWidth: 970px;

// todo
$pathToThemeAssets: '/wp-content/themes/wplake/assets';
$pathToFonts: $pathToThemeAssets + '/fonts';
$pathToImages: $pathToThemeAssets+'/images';

// todo
// fallback is necessary to avoid layout shift,
// so while loading browser renders using the second (built-in) font
$fontSignika: 'm-nunito', Arial;
$fontWeight300:300;
$fontWeight400:400;
$fontWeight500:500;
$fontWeight600:600;
$fontWeight700:700;

$zIndexMax: 999;
$containerPadding: 15px;

//////// @lightsourcee/thunder-wp/scss/Var

// direct copy, otherwise '@content' won't be available
@mixin media($screen, $target:'min') {
  @media screen and (#{$target}-width: $screen) {
    @content;
  }
}

// wrappers instead of direct @use, because a) defaults can be overridden b) don't need to include two different 'Var' files

@mixin transition($time:.3s) {
  @include Var.transition($time);
}

@mixin container($maxWidth:$containerMaxWidth,$padding:$containerPadding) {
  @include Var.container($maxWidth, $padding);
}

@mixin imageFull {
  @include Var.imageFull;
}

@function em($pixels, $context) {
  @return Var.em($pixels, $context);
}