<div class="menu {{ classes|join(' ') }}">
    <nav class="menu__inner">
        <div class="menu__nav">
            <div class="menu__nav-inner">
                {% for menu in menusData %}
                    <div class="menu__item{% if menu.isActive or menu.isChildActive %} menu__item--active{% endif %}">
                        {{ _include(menu.item, 'menu__link') }}

                        {% if menu.children %}
                            <div class="menu__sub-items">
                                {% for child in menu.children %}
                                    {{ _include(child.item, 'menu__sub-link') }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </nav>
</div>
