@use '../Var/Var';

// todo

@font-face {
  font-family: 'm-nunito';
  src: url(Var.$pathToFonts + '/nunito/nunito_300-700.woff2') format('woff2');
  font-weight: Var.$fontWeight300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'm-nunito';
  src: url(Var.$pathToFonts + '/nunito/nunito_300-700.woff2') format('woff2');
  font-weight: Var.$fontWeight400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'm-nunito';
  src: url(Var.$pathToFonts + '/nunito/nunito_300-700.woff2') format('woff2');
  font-weight: Var.$fontWeight500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'm-nunito';
  src: url(Var.$pathToFonts + '/nunito/nunito_300-700.woff2') format('woff2');
  font-weight: Var.$fontWeight600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'm-nunito';
  src: url(Var.$pathToFonts + '/nunito/nunito_300-700.woff2') format('woff2');
  font-weight: Var.$fontWeight700;
  font-style: normal;
  font-display: swap;
}
